<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">-->
    <!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <!--<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Nicolás Miño">
    <title>{{ .Site.Title }}</title>
    {{ with (templates.Defer (dict "key" "global")) }}
      {{ partial "css.html" . }}
    {{ end }}
    
  </head>
  <body>
    <div>
      {{- block "main" . -}}{{- end -}}
  </body>
</html>