{{ $ToggleTheme := resources.Get "js/toggle-theme.js" | minify | fingerprint }}
<script src="{{ $ToggleTheme.RelPermalink }}" integrity="{{ $ToggleTheme.Data.Integrity }}"></script>

{{ $NavBar := resources.Get "js/nav.js" | minify | fingerprint }}
<script src="{{ $NavBar.RelPermalink }}" integrity="{{ $NavBar.Data.Integrity }}"></script>

{{ $Typewriter := resources.Get "js/typewriter.js" | minify | fingerprint }}
<script src="{{ $Typewriter.RelPermalink }}" integrity="{{ $Typewriter.Data.Integrity }}"></script>